*{
  margin: 0;
  font-family: helvetica;
  font-size: 16px;
  color: rgb(231, 189, 76);
}

header, .mb-buttton {
  background-color: rgb(202, 60, 37);
  font-weight: bold;
}

header {
  z-index: 990;
  position: fixed;
}

.main-container {
  z-index: 1;
  position: relative;
  height: 700px;
}

header, .main-container {
  top: 0;
  left: 0;
  width: 100%;
}

.mc-section, #navigation-menu {
  left: 10%;
  width: 80%;
  margin: 0 auto;
}

/*Menú de Navegación*/
#navigation-menu {

}

#navigation-menu ul {
  list-style-type: none;
  padding: 0;
}

#navigation-menu  li {
  display: inline-block;
  padding: 20px 10px;
}

#navigation-menu a:hover {
  color: rgb(255, 255, 255);
}

/*Contenedor Principal*/
.main-container {
  background-color: rgb(29, 26, 5);
}

/*Galería de Imágenes*/
#gallery {

}

#gallery .g-image {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 80px 0 40px 15px;
  filter: grayscale(100%);
  border: gray 5px solid;
}

/*Menú de Botones*/
#menu-button{
  text-align: center;
}

.mb-buttton {
  width: 32%;
  margin: 0 2.5px;
  border: 0;
  border-radius: 0.25em;
  padding: 5px 2.5px;
}

/*Contenidos*/
#content {

}

#content .co-text{
  border: 0;
  padding: 50px 0;
  width: 48%;
  text-align: justify;
}

#content .co-text:nth-child(1){
  float: left;
}

#content .co-text:nth-child(2){
  float: right;
}

#content .co-text p{
  margin-bottom: 1.5em;
}
